# ===========================
# Operating System
# ===========================

.DS_Store
Thumbs.db
desktop.ini

# ===========================
# IDEs
# ===========================

.idea/
.vscode/
*.iml

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Temporary Files
# ===========================

*.tmp
*.temp
*.swp
*.swo
*~

# ===========================
# Environment Variables
# ===========================

.env
.env.*

# ===========================
# Build Files
# ===========================

target/
build/
out/
dist/

# ===========================
# Coverage
# ===========================

coverage/
.coverage
coverage.xml

# ===========================
# Node
# ===========================

node_modules/

# ===========================
# Python
# ===========================

__pycache__/
*.pyc

# ===========================
# Java
# ===========================

*.class
